# /etc/apt/get.config

# Must be passed to apt-get using the -c=FILE flag

# Authentication and Signature Requirements
APT::Get::AllowUnauthenticated=False
Acquire:AllowInsecureRepositories=False

# For the Metadata
APT:Get:Show-Versions=True

# Pin Dependencies and Improve Determinism:
APT::Install-Recommends=False
APT::Install-Suggests=False
APT::Get::Upgrade=False

# For Build Workers:
APT::Get::Download=False

# For Dependency Fetcher - Turn off Above and Turn on Below:
# APT::Get::Download-Only=True
